/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 33px;
    height: 28px;
    left: 30px;
    top: 30px;
}
  
/* Color/shape of burger icon bars */
.bm-burger-bars {
    transition: all 0.1s ease-in-out;
    background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    transition: all 0.1s ease-in-out;
    opacity: 0.7 !important;
    background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 22px !important;
    width: 22px !important;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 14px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
    height: 22px !important;
}

/* Styling of overlay */
.bm-overlay {
    background: transparent !important;
}

.bm-menu {
    background: #282828;
    overflow: hidden !important;
}

.bm-item-list {
    padding-left: 17px;
    padding-right: 20px;
}

.bm-item-list a {
    display: flex !important;
    align-items: center;
    padding: 8.8px;
    padding-right: 72.5px;
    margin-bottom: 14.5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15.5px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.bm-item-list a:hover {
    background: #3B3B3B;
    transition: all 0.1s ease-in-out;
}

.bm-item-list a:first-child {
    margin-top: 48px;
}

.bm-menu a {
    color: white;
}

.bm-menu-wrap {
    left: 0;
    top: 0;
    width: auto !important;
}

.MuiSvgIcon-root {
    width: 23px !important;
    height: 23px !important;
    margin-right: 10px;
}