.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-item {
  text-decoration: none;
  font-weight: 300;
  font-size: 1vw;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.Nav-item:hover {
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 1.05vw;
}

.active {
  transition: all 0.2s ease-in-out;
  color: #66fcf1;
  font-weight: 600;
  font-size: 1.05vw;
}
.active:hover {
  font-weight: 600;
  font-size: 1.05vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
